.onama-hero-section {
  height: 350px;
  background: url("/images/onama-bg.png");
  background-size: cover;
  display: flex;
  justify-content: right;
  align-items: end;
  margin-top: -106px;
}

.onama-hero-section h2 {
  font-size: 65px;
  color: #000;
  text-align: center;
  font-weight: 400;
  margin-right: 20%;
}

.onama-content-section {
  padding: 3% 10%;
  position: relative;

}

.ko-smo-mi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ko-smo-mi__content {
  margin-left: 5vw;
  z-index: 1;
  width: 50%;
}

.ko-smo-mi__content h4 {
  font-size: 32px;
  color: #000;
  margin: 0;
  font-weight: 500;
}

.ko-smo-mi__content h2 {
  font-size: 64px;
  color: #000;
  margin: 0;
  font-weight: 500;

}

.ko-smo-mi__content p {
  font-size: 16px;
  color: #000;
  line-height: 27px;
}

.ko-smo-mi__content button {
  background-color: #bf1e37;
  color: #fff;
  font-size: 21px;
  border: none;
  padding: 7px 15px;
  cursor: pointer;
  font-weight: 400;
}

.ko-smo-mi__gallery{
  width: 50%;
}

.ko-smo-mi__gallery img {
  width: 100%;
  height: auto;
}

#left-circles,
#left-lines,
#right-lines {
  position: absolute;
}

#right-lines {
right: 0;
height: 300px;
bottom: 0%;
}

#left-lines {
  left: 0;
  width: 157px;
  bottom: 0;
}

#left-circles {
  left: 0;
  height: 300px;
  top: 0;
}

.horizontal-line {
  display: flex;
  align-items: center;
}

.horizontal-line hr {
  width: 65%;
  height: 2px;
  margin-left: 5px;
  border: none;
  background-color: #bf1e37;
}


/*O nama rezultati sekcija*/

.onama-rezultati {
    height: 500px;
    background: url("/images/onama-bg2.png");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;
    color: #fff;
  }
  .onama-rezultati-heading {
    width: 60%;
  }


  .onama-rezultati-heading h4 {
    font-size: 35px;
    margin: 0;
    font-weight: 500;


  }
  .onama-rezultati-heading h2 {
    font-size: 62px;
    margin: 0;  font-weight: 500;

  }
.flex-align__inner {
    margin: 40px 30px;
}

  .flex-align {
    display: flex;
    text-align: center;
    margin:20px 20px;
    justify-content: center;
  }

  .flex-align h4 {
    font-size: 24px;
    width: 100%;
    margin: 0 40px 0 0;
    font-weight: 400;
    text-align: center;

  }

  .flex-align h2 {
    font-size: 62px;
    margin: 0;
    text-align: center;
    font-weight: 500;

  }

  .onama-utisak {
    padding: 5% 10%;
    position: relative;
    min-height:95vh;
  }

  .onama-utisak__inner {
    display: flex;
    align-items: center;
  }

  .onama-utisak-recenzije {
    width: 50%;
  }
  .onama-utisak-gallery{
    width: 50%;
  }
  .onama-utisak-gallery img {
    width: 100%;
    height: auto;
    z-index: 5;
  }

  .onama-utisak-recenzije h4 {
    font-size: 32px;
    margin: 0;
    font-weight: 500;

  }

  .onama-utisak-recenzije h2 {
    font-size: 64px;
    margin: 0;
    font-weight: 500;

}

  .utisak-quote p {
    font-size: 16px;
    width: 80%;
    margin-left: 5%;
    font-family: 'Varta';
    line-height: 27px;
  }

  .utisak-quote img {
    width: 33px;
    height:28px;

  }

  .onama-utisak-recenzije button{
    background-color: #bf1e37;
    color: #fff;
    font-size: 21px;
    border: none;
    height:40px;
    cursor: pointer;
    margin-left: 5%;
    margin-top: 15px;
  }

  #open-quote{ 
    margin-bottom: -30px;
  }

  #close-quote {
    margin-left: 10px;
    margin-bottom: -15px;
  }

  #left-lines-bottom {
    position: absolute;
    height: 122px;
    left: 0;
    top: 30px;
  }
  #right-circles-square {
    position: absolute;
    height: 214px;
    right: 0;
    bottom: 40px;
    z-index: 1;
  }

  @media only screen and (max-width: 768px) {
    .onama-hero-section {
        height: 350px;
        background: url("/images/onama-bg.png");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: end;
        margin-top: -50px;
      }
      
      .onama-hero-section h2 {
        font-size: 50px;
        color: #000;
        text-align: center;
        font-weight: 400;
        margin: 30px 0;

      }
      
      .onama-content-section {
        padding: 3% 5%;      
      }
      
      .ko-smo-mi {
        margin-top: 40px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
      }
      
      .ko-smo-mi__content {
        margin-left: 0;
        z-index: 1;
        width: 100%;
      }
      
      .ko-smo-mi__content h4 {
        font-size: 16px;
        color: #000;
        margin: 0;
      }
      
      .ko-smo-mi__content h2 {
        font-size: 40px;
        color: #000;
        margin: 0;
      }
      
      .ko-smo-mi__content p {
        font-size: 14px;
        color: #000;
        line-height: 27px;
      }
      
      .ko-smo-mi__content button {
        background-color: #bf1e37;
        color: #fff;
        font-size: 18px;
        border: none;
        padding: 7px 15px;
        cursor: pointer;
        font-weight: 400;
      }
      .ko-smo-mi__gallery {
        width: 100%;
      }
      .ko-smo-mi__gallery img {
        width: 100%;
        height: 100%;
        margin: 50px 0;
      }
      
      #left-circles,
      #left-lines,
      #right-lines {
        position: absolute;
      }
      
      #right-lines {
      right: 0;
      height: 50px;
      bottom: 0%;
      display: none;
      }
      
      #left-lines {
        left: 0;
        width: 97px;
        bottom: 20px;
        opacity: 0.7;
      }
      
      #left-circles {
        left: -30px;
        height: 150px;
        top: 20px;
        opacity: 0.4;
      }
      
      .horizontal-line {
        display: flex;
        align-items: center;
      }
      
      .horizontal-line hr {
        width: 50%;
        height: 2px;
        margin-left: 5px;
        border: none;
        background-color: #bf1e37;
      }
      
      
      /*O nama rezultati sekcija*/
      
      .onama-rezultati {
          min-height: 500px;
          height: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 5% 5%;
        }
        .onama-rezultati-heading {
          width: 100%;
        }
      
      
        .onama-rezultati-heading h4 {
          font-size: 20px;
          margin: 0;
      
        }
        .onama-rezultati-heading h2 {
          font-size: 35px;
          margin: 5px 0;
        }
      .flex-align__inner {
          margin: 30px 0;
      }
      
        .flex-align {
          display: flex;
          text-align: center;
          margin:10px 10px;
        }
      
        .flex-align h4 {
          font-size: 22px;
          margin: 0;
          font-weight: 400;
          text-align: center;
      
        }
      
        .flex-align h2 {
          font-size: 30px;
          margin: 0;
          text-align: center;
      
        }
      
        .onama-utisak {
          padding: 5% 5%;
          position: relative;
          min-height:0;
        }
      
        .onama-utisak__inner {
          display: flex;
          align-items: center;
          flex-direction: column;
        }
        .onama-utisak-gallery {
          width: 100%;
        }
        
        .onama-utisak-gallery img {
          width: 100%;
          height: 100%;
        }
      
        .onama-utisak-recenzije h4 {
          font-size: 32px;
          margin: 0;
        }
      
        .onama-utisak-recenzije h2 {
          font-size: 40px;
          margin: 0;
      
      }
    .onama-utisak-recenzije {
      width: 100%;
      margin-bottom: 8vh;
    }
      
        .utisak-quote p {
          font-size: 16px;
          width: 90%;
          margin-left: 10%;
        }
      
        .utisak-quote img {
          width: 33px;
          height:28px;
      
        }
      
        .onama-utisak-recenzije button{
          background-color: #bf1e37;
          color: #fff;
          font-size: 21px;
          border: none;
          height:40px;
          cursor: pointer;
          margin-left: 5%;
          margin-top: 15px;
        }
      
        #open-quote{ 
          margin-bottom: -30px;
        }
      
        #close-quote {
          margin-left: 10px;
          margin-bottom: -15px;
        }
      
        #left-lines-bottom {
          display: none;
        }
        #right-circles-square {
          display: none;
        }
      
}