.kontakt-hero-section {
  width: 100%;
  height: 350px;
  background: url("/images/kontakt-bg.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: -106px;
}

.kontakt-hero-section h2 {
  font-size: 65px;
  color: #000;
  text-align: center;
  font-weight: 400;
}

.kontakt-main-section {
  padding: 3% 10%;
  background-color: #2d2d30;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.contact-map {
  width: 100%;
  height: 600px;
  background: url(/images/kontakt-map.png);
  background-size: cover;
}

footer a {
  text-decoration: none;
  color: #fff;
}

.contact-form h4 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

.contact-form h2 {
  font-size: 96px;
  margin: 0;
  font-weight: 400;
}

.contact-form {
  width: 60%;
}

.kontakt-text a {
  text-decoration: none;
  color: #fff;
}

.contact-form h5 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  margin-left: 20%;
  margin-top: 20px;
  width: 60%;
}

form {
  margin-left: 20%;
  margin-top: 30px;
  font-size: 24px;
}

form input {
  width: 67%;
  background-color: #ffffff00;
  color: #fff;
  border: none;
  padding: 10px 5px;
  font-size: 24px;
  border-bottom: 1px solid #fff;
  font-weight: 300;
}

::placeholder {
  color: #fff;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 300;
}

textarea {
  width: 67%;
  padding: 5px;
  font-family: "Montserrat";
  background-color: #ffffff00;
  border: 1px solid #fff;
  font-size: 24px;
  color: #fff;
  font-weight: 300;
}

form button {
  width: 67%;
  background-color: #5e5e63;
  color: #fff;
  font-size: 24px;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-weight: 300;
  font-family: "Montserrat";
  transition: 0.5s;
}

form button:hover {
  opacity: 0.9;
  transition: 0.5s;
  border-radius: 5px;
}

.contact-info__contact h4 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 8vh;
}

.contact-info__contact p {
  font-size: 24px;
  font-weight: 300;
}

.radno-vrijeme p {
  margin-bottom: -10px;
}

.contact-info__contact i {
  margin-right: 10px;
}

.tel-txt,
.email-txt {
  display: flex;
  align-items: center;
  margin-bottom: -25px;
}

.social-icons__contact {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 0 0;
}

.social-icons__contact img {
  width: 40px;
  cursor: pointer;
  margin-top: 20px;
}

#youtube-contact {
  width: 55px;
}

@media only screen and (max-width: 768px) {
  .kontakt-hero-section {
    width: 100%;
    height: 350px;
    background: url("/images/kontakt-bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: -50px;
  }

  .kontakt-hero-section h2 {
    font-size: 50px;
    color: #000;
    text-align: center;
    font-weight: 400;
    margin: 30px 0;
  }

  .kontakt-main-section {
    padding: 3% 5%;
    background-color: #2d2d30;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contact-form h4 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
  }

  .contact-form h2 {
    font-size: 55px;
    margin: 0;
    font-weight: 400;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form h5 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
  }

  form {
    margin-left: 0%;
    margin-top: 30px;
    font-size: 16px;
  }

  form input {
    width: 100%;
    background-color: #ffffff00;
    color: #fff;
    border: none;
    padding: 10px 5px;
    font-size: 16px;
    border-bottom: 1px solid #fff;
    font-weight: 300;
  }

  ::placeholder {
    color: #fff;
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 300;
  }

  textarea {
    width: 100%;
    padding: 5px;
    font-family: "Montserrat";
    background-color: #ffffff00;
    border: 1px solid #fff;
    font-size: 16px;
    color: #fff;
    font-weight: 300;
  }

  form button {
    width: 103%;
    background-color: #5e5e63;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-weight: 300;
    font-family: "Montserrat";
    transition: 0.5s;
  }

  form button:hover {
    opacity: 0.9;
    transition: 0.5s;
    border-radius: 5px;
  }

  .contact-info__contact h4 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 8vh;
  }

  .contact-info__contact p {
    font-size: 16px;
    font-weight: 300;
  }

  .radno-vrijeme p {
    margin-bottom: -10px;
  }

  .contact-info__contact i {
    margin-right: 10px;
  }

  .social-icons__contact {
    justify-content: left;
  }

  .social-icons__contact img {
    width: 35px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
  }

  #youtube-contact {
    width: 45px;
  }
}
